extends layout

block content
  div.navbar.navbar-default.navbar-fixed-top(role='navigation')
    div.container
      div.navbar-header
        a.navbar-brand 
          | Ajou Univ Data Mining Project
      div.collapse.navbar-collapse
        ul.nav.navbar-nav

  div.container
    div#mainp
      h1 감정 사전 만들기
      p 다음의 단어와 연관된 사람에 대한 당신의 이미지는 어떻습니까?
    div#word
      #{data}
    div#selection
      form(action='/result', method='post')
        input.btn-primary(type='submit', name='selection', value='긍정적이다')
        input.btn-danger(type='submit', name='selection', value='부정적이다')
        input.btn-warning(type='submit', name='selection', value='관계없거나 판단할 수 없다')
        input(type='hidden', name='word', value='#{data}')
   
