doctype html
html
  head
    meta(name='viewpoint', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/sandstone.bootstrap.css')
  body
    block content
  footer
    div.container
      .footer
        hr(style='margin: 30px 0 10px 0;')
        p &copy;&nbsp;
          a(href='#') Team12 
          | Ajou Univ 2016 Fall Semester - Data Mining Class Team project
          | <br/> Contact Us : clacis91@gmail.com
